body{

margin:0;
font-family:Arial;

}


.menu-btn{

font-size:26px;
position:fixed;
top:15px;
left:15px;
background:#111;
color:white;
border:none;
padding:8px 12px;
border-radius:5px;
z-index:1000;

}


.sidebar{

position:fixed;
left:-250px;
top:0;
width:220px;
height:100%;
background:#111;
color:white;
padding:20px;
transition:0.3s;

}

.sidebar ul{

list-style:none;
padding:0;

}

.sidebar li{

margin:15px 0;

}

.sidebar a{

color:white;
text-decoration:none;

}

.search{

width:100%;
padding:8px;
margin-bottom:20px;
border-radius:5px;
border:none;

}


.main{

padding:20px;

}


.slider{

max-width:600px;
margin:auto;

}

.slider img{

width:100%;
border-radius:10px;
display:none;

}


.gallery{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;

}

.gallery img{

width:100%;
border-radius:10px;

}


.whatsapp{

display:inline-block;
background:#25D366;
color:white;
padding:12px 20px;
margin:10px;
border-radius:6px;
text-decoration:none;

}

.facebook{

display:inline-block;
background:#1877F2;
color:white;
padding:12px 20px;
margin:10px;
border-radius:6px;
text-decoration:none;

}
