body{

font-family:Arial;
margin:0;
background:#f5f5f5;
text-align:center;

}

header{

background:#1e3a8a;
color:white;
padding:60px 20px;

}

.slider{

max-width:700px;
margin:auto;

}

.slider img{

width:100%;
border-radius:12px;
display:none;

}

.gallery{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:30px;

}

.gallery img{

width:100%;
border-radius:10px;

}

.books{

display:flex;
justify-content:center;

}

.book{

background:white;
padding:15px;
border-radius:10px;

}

.book img{

width:200px;

}

.whatsapp{

background:#25D366;
color:white;
padding:10px 20px;
border-radius:6px;
text-decoration:none;
margin:10px;

}

.facebook{

background:#1877F2;
color:white;
padding:10px 20px;
border-radius:6px;
text-decoration:none;
margin:10px;

}
